## Cabeçalho

In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('Twitch_global_data.csv')

data.rename(columns={
    'year':'ano',
    'Month':'mes',
    'Hours_watched':'horas_assistidas',
    'Avg_viewers':'media_visualizacoes',
    'Peak_viewers':'pico_de_visualizacoes',
    'Avg_channels':'media_canais',
    'Games_streamed':'jogos_transmitidos',
    'Viewer_ratio':'proporcao_de_espectadores',
}, inplace=True)


data.head()

,ano,mes,horas_assistidas,media_visualizacoes,pico_de_visualizacoes,Streams,media_canais,jogos_transmitidos,proporcao_de_espectadores
0,2016,1,480241904,646355,1275257,7701675,20076,12149,29.08
1,2016,2,441859897,635769,1308032,7038520,20427,12134,28.98
2,2016,3,490669308,660389,1591551,7390957,20271,12234,28.92
3,2016,4,377975447,525696,1775120,6869719,16791,12282,28.80
4,2016,5,449836631,605432,1438962,7535519,19394,12424,28.85

## Análises Matemáticas

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ano                        85 non-null     int64
 1   mes                        85 non-null     int64
 2   horas_assistidas           85 non-null     int64
 3   media_visualizacoes        85 non-null     int64
 4   pico_de_visualizacoes      85 non-null     int64
 5   Streams                    85 non-null     int64
 6   media_canais               85 non-null     int64
 7   jogos_transmitidos         85 non-null     int64
 8   proporcao_de_espectadores  85 non-null     float64
dtypes: float64(1), int64(8)
memory usage: 6.1 KB

In [5]:
data.isnull().sum()

ano                          0
mes                          0
horas_assistidas             0
media_visualizacoes          0
pico_de_visualizacoes        0
Streams                      0
media_canais                 0
jogos_transmitidos           0
proporcao_de_espectadores    0
dtype: int64

In [6]:
data.describe()

,ano,mes,horas_assistidas,media_visualizacoes,pico_de_visualizacoes,Streams,media_canais,jogos_transmitidos,proporcao_de_espectadores
count,85.000000,85.000000,8.500000e+01,8.500000e+01,8.500000e+01,8.500000e+01,85.000000,85.000000,85.000000
mean,2019.047059,6.435294,1.171561e+09,1.605636e+06,3.310116e+06,1.543479e+07,60414.117647,24771.341176,26.779176
std,2.046518,3.503220,6.218263e+08,8.522275e+05,1.637731e+06,6.240952e+06,33558.528869,10319.046780,1.588932
min,2016.000000,1.000000,3.628332e+08,5.046350e+05,1.186009e+06,5.507554e+06,16592.000000,12134.000000,22.650000
25%,2017.000000,3.000000,5.755515e+08,7.875870e+05,1.823848e+06,8.672879e+06,25810.000000,15962.000000,25.710000
50%,2019.000000,6.000000,9.166925e+08,1.264495e+06,2.692333e+06,1.505304e+07,48357.000000,20248.000000,26.890000
75%,2021.000000,9.000000,1.834840e+09,2.520330e+06,4.815581e+06,2.028536e+07,93867.000000,35577.000000,28.130000
max,2023.000000,12.000000,2.308295e+09,3.112681e+06,6.707070e+06,2.759115e+07,122763.000000,43611.000000,30.390000

## Etapa Projeto

### Médias por HA e MV

In [64]:
data.head()

,ano,mes,horas_assistidas,media_visualizacoes,pico_de_visualizacoes,Streams,media_canais,jogos_transmitidos,proporcao_de_espectadores
0,2016,1,480241904,646355,1275257,7701675,20076,12149,29.08
1,2016,2,441859897,635769,1308032,7038520,20427,12134,28.98
2,2016,3,490669308,660389,1591551,7390957,20271,12234,28.92
3,2016,4,377975447,525696,1775120,6869719,16791,12282,28.80
4,2016,5,449836631,605432,1438962,7535519,19394,12424,28.85

In [52]:
maior_horas = data.groupby(['ano', 'mes', 'horas_assistidas', 'media_visualizacoes'])['horas_assistidas'].sum().idxmax()
menor_horas = data.groupby(['ano', 'mes', 'horas_assistidas', 'media_visualizacoes'])['horas_assistidas'].sum().idxmin()
maior_horas, menor_horas

((2021, 5, 2308295297, 3106723), (2016, 9, 362833210, 504635))

<b><i>O maior número de horas assistidas foi de 2308295297 horas com 3106723 médias visualizações no mês 5 do ano 2021. O menor número de horas assistidas foi de 362833210 horas com 504635 médias visualizações no mês 9 do ano 2016.</i></b>

In [51]:
maior_visus = data.groupby(['ano', 'mes', 'horas_assistidas', 'media_visualizacoes'])['media_visualizacoes'].sum().idxmax()
menor_visus = data.groupby(['ano', 'mes', 'horas_assistidas', 'media_visualizacoes'])['media_visualizacoes'].sum().idxmin()

maior_visus, menor_visus

((2021, 4, 2238018281, 3112681), (2016, 9, 362833210, 504635))

<b><i>A maior média de visualizações foi de 3112681 visualizações no mês 4 do ano 2021 com 2238018281 horas assistidas. A menor média de visualizações foi de 504635 visualizações no mês 9 do ano 2016 com 362833210 horas assistidas.</i></b>

In [55]:
print(f'A maior média de horas assistidas por visualizações foi de {maior_horas[2] / maior_horas[-1]:.2f}')
print(f'A menor média de horas assistidas por visualizações foi de {menor_horas[2] / menor_horas[-1]:.2f}')

A maior média de horas assistidas por visualizações foi de 743.00
A menor média de horas assistidas por visualizações foi de 719.00

In [58]:
print(f'A maior média de visualizações por horas assistidas foi de {maior_visus[2] / maior_visus[-1]:.2f}')
print(f'A menor média de visualizações por horas assistidas foi de {menor_visus[2] / menor_visus[-1]:.2f}')

A maior média de visualizações por horas assistidas foi de 719.00
A menor média de visualizações por horas assistidas foi de 719.00

<b><i> Há uma diferença de anos entre as datas e os valores analisados, porém, pode se perceber que eles são iguais.</i></b>

### Valores médios por mês e ano

0, 11 -> 2016  <br>
12, 23 -> 2017 <br>
24, 35 -> 2018 <br>
36, 47 -> 2019 <br>
48, 59 -> 2020 <br>
60, 71 -> 2021 <br>
72, 83 -> 2022 <br>
84 -> 2023 <br>

<b>Eu quero saber as médias mensais e anuais de horas assistidas por número de visualizações</b>

In [20]:
def analisaMedias(horas:list(), visus:list()):
    aux = []
    total = []
    ano = 2016
    for x in range(85):
        if x < 12:
            aux.append(horas[x] / visus[x])
            if x == 11:
                aux.append(sum(horas[0:12]) / sum(visus[0:12]))
                aux.insert(0, ano)
                total.append(aux[:])
                aux.clear()
        elif 24 > x > 11:
            aux.append(horas[x] / visus[x])
            if x == 23:
                aux.append(sum(horas[11:24]) / sum(visus[11:24]))
                aux.insert(0, ano + 1)
                total.append(aux[:])
                aux.clear()
        elif 36 > x > 23:
            aux.append(horas[x] / visus[x])
            if x == 35:
                aux.append(sum(horas[24:36]) / sum(visus[24:36]))
                aux.insert(0, ano + 2)
                total.append(aux[:])
                aux.clear()
        elif 48 > x > 35:
            aux.append(horas[x] / visus[x])
            if x == 47:
                aux.append(sum(horas[36:48]) / sum(visus[36:48]))
                aux.insert(0, ano + 3)
                total.append(aux[:])
                aux.clear()
        elif 60 > x > 47:
            aux.append(horas[x] / visus[x])
            if x == 59:
                aux.append(sum(horas[48:60]) / sum(visus[48:60]))
                aux.insert(0, ano + 4)
                total.append(aux[:])
                aux.clear()         
        elif 72 > x > 59:
            aux.append(horas[x] / visus[x])
            if x == 71:
                aux.append(sum(horas[60:72]) / sum(visus[60:72]))
                aux.insert(0, ano + 5) 
                total.append(aux[:])
                aux.clear()
        elif 84 > x > 71:
            aux.append(horas[x] / visus[x])
            if x == 83:
                aux.append(sum(horas[72:84]) / sum(visus[72:84]))
                aux.insert(0, ano + 6)
                total.append(aux[:])
                aux.clear()       
        else:
            aux.append(horas[x] / visus[x])
            if x == 84:
                aux.append((horas[-1]) / (visus[-1]))
                aux.insert(0, ano + 7)
                total.append(aux[:])
                aux.clear()
    return total

In [21]:
horas_assistidas = [ dados for dados in data['horas_assistidas']]
media_visualizacoes = [dados for dados in data['media_visualizacoes']]

total_medias = analisaMedias(horas_assistidas, media_visualizacoes)

A variável <b>total_medias</b> corresponde a uma lista com outras 8 listas dentro de si. Cada lista dessas possui 1 determinado ano como valor inicial, 12 valores de médias mensais de horas assistidas por número de espectadores e, por fim, um valor de média anual do total de horas assistidas pelo total de espectadores anuais.

In [26]:
maiores = []
minimos = []

for x in total_medias:
    maiores.append(f'O maior valor médio de horas por visus do ano {x[0]} é {max(x[1:-1]):.2f} no mês {x.index(max(x[1:-1]))}')
    minimos.append(f'O menor valor médio de horas por visus do ano {x[0]} é {min(x[1:-1]):.2f} no mês {x.index(min(x[1:-1]))}')

In [27]:
maiores, minimos

(['O maior valor médio de horas por visus do ano 2016 é 743.00 no mês 8',
  'O maior valor médio de horas por visus do ano 2017 é 743.00 no mês 1',
  'O maior valor médio de horas por visus do ano 2018 é 743.00 no mês 5',
  'O maior valor médio de horas por visus do ano 2019 é 743.00 no mês 3',
  'O maior valor médio de horas por visus do ano 2020 é 743.00 no mês 1',
  'O maior valor médio de horas por visus do ano 2021 é 743.00 no mês 8',
  'O maior valor médio de horas por visus do ano 2022 é 743.00 no mês 10',
  'O maior valor médio de horas por visus do ano 2023 é 743.00 no mês 1'],
 ['O menor valor médio de horas por visus do ano 2016 é 695.00 no mês 2',
  'O menor valor médio de horas por visus do ano 2017 é 671.00 no mês 2',
  'O menor valor médio de horas por visus do ano 2018 é 671.00 no mês 2',
  'O menor valor médio de horas por visus do ano 2019 é 671.00 no mês 2',
  'O menor valor médio de horas por visus do ano 2020 é 695.00 no mês 2',
  'O menor valor médio de horas por visus do ano 2021 é 671.00 no mês 2',
  'O menor valor médio de horas por visus do ano 2022 é 671.00 no mês 2',
  'O menor valor médio de horas por visus do ano 2023 é 743.00 no mês 1'])

### Proporção de espectadores

In [62]:
data.head()

,ano,mes,horas_assistidas,media_visualizacoes,pico_de_visualizacoes,Streams,media_canais,jogos_transmitidos,proporcao_de_espectadores
0,2016,1,480241904,646355,1275257,7701675,20076,12149,29.08
1,2016,2,441859897,635769,1308032,7038520,20427,12134,28.98
2,2016,3,490669308,660389,1591551,7390957,20271,12234,28.92
3,2016,4,377975447,525696,1775120,6869719,16791,12282,28.80
4,2016,5,449836631,605432,1438962,7535519,19394,12424,28.85

In [30]:
data[data['ano'] == 2016].groupby(['ano', 'mes', 'proporcao_de_espectadores'])['proporcao_de_espectadores'].sum().idxmax()

(2016, 1, 29.08)

In [13]:
data[data['ano'] == 2017].groupby(['ano', 'mes', 'proporcao_de_espectadores'])['proporcao_de_espectadores'].sum().idxmax()

(2017, 1, 28.07)

In [14]:
data[data['ano'] == 2018].groupby(['ano', 'mes', 'proporcao_de_espectadores'])['proporcao_de_espectadores'].sum().idxmax()

(2018, 1, 26.02)

In [15]:
data[data['ano'] == 2019].groupby(['ano', 'mes', 'proporcao_de_espectadores'])['proporcao_de_espectadores'].sum().idxmax()

(2019, 8, 28.26)

In [16]:
data[data['ano'] == 2020].groupby(['ano', 'mes', 'proporcao_de_espectadores'])['proporcao_de_espectadores'].sum().idxmax()

(2020, 4, 26.79)

In [17]:
data[data['ano'] == 2021].groupby(['ano', 'mes', 'proporcao_de_espectadores'])['proporcao_de_espectadores'].sum().idxmax()

(2021, 10, 30.39)

In [18]:
data[data['ano'] == 2022].groupby(['ano', 'mes', 'proporcao_de_espectadores'])['proporcao_de_espectadores'].sum().idxmax()

(2022, 5, 29.4)

In [19]:
data[data['ano'] == 2023].groupby(['ano', 'mes', 'proporcao_de_espectadores'])['proporcao_de_espectadores'].sum().idxmax()

(2023, 1, 27.44)

In [92]:
pico = data.groupby(['Streams', 'proporcao_de_espectadores', 'media_canais'])['proporcao_de_espectadores'].sum().idxmax()
base = data.groupby(['Streams', 'proporcao_de_espectadores', 'media_canais'])['proporcao_de_espectadores'].sum().idxmin()

pico, base

((18209793, 30.39, 91858), (18859473, 22.65, 95781))

<b><i>O que se pode subentender dos dados acima é que não necessariamente o pico de espectadores está relacionado com os totais máximos de (1) canais, (2) transmissões e (3) números de streams ou até mesmo (4) com a média de visualizações