# EDA - Projeto ADA

O presente documento tem por finalidade ser um EDA (Exploratory Data Analysis) como projeto para o curso Técnicas de Programação da ADA. Os dados aqui escolhidos para análise são de caráter público e sua origem é encontrada em: https://www.kaggle.com/datasets/rankirsh/evolution-of-top-games-on-twitch.

## Cabeçalho

Os estudantes responsáveis pelas análises e pelo uso dos dados em questão são:
- Bruno Bastos
- Delson Cardoso
- Luiz Gabriel 
- Igor Raphael 
- Mia Valentin

Todos acima são estudantes da Ada Tech, participantes do programa Data4All, ofertado em parceria com as empresas Gerdau & RandStand.

### Início do EDA

#### Importando Bibliotecas a serem utilizadas

In [3]:
import pandas as pd
import numpy as np

#### Carregando os dados

In [7]:
data = pd.read_csv('Twitch_global_data.csv')
data.head()

,year,Month,Hours_watched,Avg_viewers,Peak_viewers,Streams,Avg_channels,Games_streamed,Viewer_ratio
0,2016,1,480241904,646355,1275257,7701675,20076,12149,29.08
1,2016,2,441859897,635769,1308032,7038520,20427,12134,28.98
2,2016,3,490669308,660389,1591551,7390957,20271,12234,28.92
3,2016,4,377975447,525696,1775120,6869719,16791,12282,28.80
4,2016,5,449836631,605432,1438962,7535519,19394,12424,28.85

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            85 non-null     int64
 1   Month           85 non-null     int64
 2   Hours_watched   85 non-null     int64
 3   Avg_viewers     85 non-null     int64
 4   Peak_viewers    85 non-null     int64
 5   Streams         85 non-null     int64
 6   Avg_channels    85 non-null     int64
 7   Games_streamed  85 non-null     int64
 8   Viewer_ratio    85 non-null     float64
dtypes: float64(1), int64(8)
memory usage: 6.1 KB