## Cabeçalho

In [61]:
import pandas as pd
import numpy as np

data = pd.read_csv('Twitch_global_data.csv')
data.head()

,year,Month,Hours_watched,Avg_viewers,Peak_viewers,Streams,Avg_channels,Games_streamed,Viewer_ratio
0,2016,1,480241904,646355,1275257,7701675,20076,12149,29.08
1,2016,2,441859897,635769,1308032,7038520,20427,12134,28.98
2,2016,3,490669308,660389,1591551,7390957,20271,12234,28.92
3,2016,4,377975447,525696,1775120,6869719,16791,12282,28.80
4,2016,5,449836631,605432,1438962,7535519,19394,12424,28.85

## Análises Matemáticas

In [62]:
data.rename(columns={
    'year':'ano',
    'Month':'mes',
    'Hours_watched':'horas_assistidas',
    'Avg_viewers':'media_visualizacoes',
    'Peak_viewers':'pico_de_visualizacoes',
    'Avg_channels':'media_canais',
    'Games_streamed':'jogos_transmitidos',
    'Viewer_ratio':'proporcao_de_espectadores',
}, inplace=True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ano                        85 non-null     int64
 1   mes                        85 non-null     int64
 2   horas_assistidas           85 non-null     int64
 3   media_visualizacoes        85 non-null     int64
 4   pico_de_visualizacoes      85 non-null     int64
 5   Streams                    85 non-null     int64
 6   media_canais               85 non-null     int64
 7   jogos_transmitidos         85 non-null     int64
 8   proporcao_de_espectadores  85 non-null     float64
dtypes: float64(1), int64(8)
memory usage: 6.1 KB

In [5]:
data.isnull().sum()

ano                          0
mes                          0
horas_assistidas             0
media_visualizacoes          0
pico_de_visualizacoes        0
Streams                      0
media_canais                 0
jogos_transmitidos           0
proporcao_de_espectadores    0
dtype: int64

In [6]:
data.describe()

,ano,mes,horas_assistidas,media_visualizacoes,pico_de_visualizacoes,Streams,media_canais,jogos_transmitidos,proporcao_de_espectadores
count,85.000000,85.000000,8.500000e+01,8.500000e+01,8.500000e+01,8.500000e+01,85.000000,85.000000,85.000000
mean,2019.047059,6.435294,1.171561e+09,1.605636e+06,3.310116e+06,1.543479e+07,60414.117647,24771.341176,26.779176
std,2.046518,3.503220,6.218263e+08,8.522275e+05,1.637731e+06,6.240952e+06,33558.528869,10319.046780,1.588932
min,2016.000000,1.000000,3.628332e+08,5.046350e+05,1.186009e+06,5.507554e+06,16592.000000,12134.000000,22.650000
25%,2017.000000,3.000000,5.755515e+08,7.875870e+05,1.823848e+06,8.672879e+06,25810.000000,15962.000000,25.710000
50%,2019.000000,6.000000,9.166925e+08,1.264495e+06,2.692333e+06,1.505304e+07,48357.000000,20248.000000,26.890000
75%,2021.000000,9.000000,1.834840e+09,2.520330e+06,4.815581e+06,2.028536e+07,93867.000000,35577.000000,28.130000
max,2023.000000,12.000000,2.308295e+09,3.112681e+06,6.707070e+06,2.759115e+07,122763.000000,43611.000000,30.390000

## Etapa Projeto

### Maior e Menor médias de visualizações por horas assistidas

In [64]:
data.head()

,ano,mes,horas_assistidas,media_visualizacoes,pico_de_visualizacoes,Streams,media_canais,jogos_transmitidos,proporcao_de_espectadores
0,2016,1,480241904,646355,1275257,7701675,20076,12149,29.08
1,2016,2,441859897,635769,1308032,7038520,20427,12134,28.98
2,2016,3,490669308,660389,1591551,7390957,20271,12234,28.92
3,2016,4,377975447,525696,1775120,6869719,16791,12282,28.80
4,2016,5,449836631,605432,1438962,7535519,19394,12424,28.85

In [65]:
maior = data.groupby(['ano', 'mes', 'horas_assistidas', 'media_visualizacoes'])['media_visualizacoes'].sum().idxmax()

In [66]:
menor = data.groupby(['ano', 'mes', 'horas_assistidas', 'media_visualizacoes'])['media_visualizacoes'].sum().idxmin()

<b><i>A maior média de visualizações foi de 3112681 e ocorreu em 2021, 04 com 2238018281 horas assistidas. A menor média de visualizações foi de 504635 e ocorreu em 2019, 09 com 362833210 horas assistidas.</i></b>

In [67]:
maior_media = maior[2] / maior[-1]
print(f'A maior média de horas assistidas por visualizações foi de {maior_media:.2f}')

A maior média de horas assistidas por visualizações foi de 719.00

In [68]:
menor_media = menor[2] / menor[-1]
print(f'A menor média de horas assistidas por visualizações foi de {menor_media:.2f}')

A menor média de horas assistidas por visualizações foi de 719.00

<b><i> Há uma diferença de anos entre as datas e os valores analisados, porém, pode se perceber que eles são iguais.</i></b>

### Valores médios por mês e ano

0, 11 -> 2016  <br>
12, 23 -> 2017 <br>
24, 35 -> 2018 <br>
36, 47 -> 2019 <br>
48, 59 -> 2020 <br>
60, 71 -> 2021 <br>
72, 83 -> 2022 <br>
84 -> 2023 <br>

<b>Eu quero saber as médias mensais e anuais de horas assistidas por número de visualizações</b>

In [ ]:
def analisaMedias(horas:list(), visus:list()):

In [88]:
horas_assistidas = [ dados for dados in data['horas_assistidas']]
media_visualizacoes = [dados for dados in data['media_visualizacoes']]
aux = []
media_final = list()


for x in range(85):
    if x < 12:
        aux.append(horas_assistidas[x] / media_visualizacoes[x])
        if x == 11:
            aux.append(sum(horas_assistidas[0:12]) / sum(media_visualizacoes[0:12]))
            media_final.append(aux[:])
            aux.clear()
    elif 24 > x > 11:
        aux.append(horas_assistidas[x] / media_visualizacoes[x])
        if x == 23:
            aux.append(sum(horas_assistidas[11:24]) / sum(media_visualizacoes[11:24]))
            media_final.append(aux[:])
            aux.clear()
    elif 36 > x > 23:
        aux.append(horas_assistidas[x] / media_visualizacoes[x])
        if x == 35:
            aux.append(sum(horas_assistidas[24:36]) / sum(media_visualizacoes[24:36]))
            media_final.append(aux[:])
            aux.clear()
    elif 48 > x > 35:
        aux.append(horas_assistidas[x] / media_visualizacoes[x])
        if x == 47:
            aux.append(sum(horas_assistidas[36:48]) / sum(media_visualizacoes[36:48]))
            media_final.append(aux[:])
            aux.clear()
    elif 60 > x > 47:
        aux.append(horas_assistidas[x] / media_visualizacoes[x])
        if x == 59:
            aux.append(sum(horas_assistidas[48:60]) / sum(media_visualizacoes[48:60]))
            media_final.append(aux[:])
            aux.clear()         
    elif 72 > x > 59:
        aux.append(horas_assistidas[x] / media_visualizacoes[x])
        if x == 71:
            aux.append(sum(horas_assistidas[60:72]) / sum(media_visualizacoes[60:72]))
            media_final.append(aux[:])
            aux.clear()
    elif 84 > x > 71:
        aux.append(horas_assistidas[x] / media_visualizacoes[x])
        if x == 83:
            aux.append(sum(horas_assistidas[72:84]) / sum(media_visualizacoes[72:84]))
            media_final.append(aux[:])
            aux.clear()       
    else:
        aux.append(horas_assistidas[x] / media_visualizacoes[x])
        if x == 84:
            aux.append((horas_assistidas[-1]) / (media_visualizacoes[-1]))
            media_final.append(aux[:])
            aux.clear()
        
        
        

len(media_final)

8