# EDA - Projeto ADA

O presente documento tem por finalidade ser um EDA (Exploratory Data Analysis) como projeto para o curso Técnicas de Programação da ADA. Os dados aqui escolhidos para análise são de caráter público e sua origem é encontrada em: https://www.kaggle.com/datasets/rankirsh/evolution-of-top-games-on-twitch.

## Cabeçalho

Os estudantes responsáveis pelas análises e pelo uso dos dados em questão são:
- Bruno Bastos
- Delson Cardoso
- Luiz Gabriel 
- Igor Raphael 
- Mia Valentin

Todos acima são estudantes da Ada Tech, participantes do programa Data4All, ofertado em parceria com as empresas Gerdau & RandStand.

## EDA

### Importando Bibliotecas a serem utilizadas

In [8]:
import pandas as pd
import numpy as np

### Carregando os dados

In [3]:
data = pd.read_csv('Twitch_global_data.csv')

data.rename(columns={
    'year':'ano',
    'Month':'mes',
    'Hours_watched':'horas_assistidas',
    'Avg_viewers':'media_visualizacoes',
    'Peak_viewers':'pico_de_visualizacoes',
    'Avg_channels':'media_canais',
    'Games_streamed':'jogos_transmitidos',
    'Viewer_ratio':'proporcao_de_espectadores',
}, inplace=True)

In [4]:
data.head()

,ano,mes,horas_assistidas,media_visualizacoes,pico_de_visualizacoes,Streams,media_canais,jogos_transmitidos,proporcao_de_espectadores
0,2016,1,480241904,646355,1275257,7701675,20076,12149,29.08
1,2016,2,441859897,635769,1308032,7038520,20427,12134,28.98
2,2016,3,490669308,660389,1591551,7390957,20271,12234,28.92
3,2016,4,377975447,525696,1775120,6869719,16791,12282,28.80
4,2016,5,449836631,605432,1438962,7535519,19394,12424,28.85

<b><i>Nota: Dada as circunstâncias do ano 2023, por ter apenas o mês de janeiro como referência, o trataremos como um outlier. O valor não será removido ou alterado, porém, em certos casos, poderá ser ignorado.</i></b>

### Entendendo o DataSet

In [6]:
data.shape

(85, 9)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ano                        85 non-null     int64
 1   mes                        85 non-null     int64
 2   horas_assistidas           85 non-null     int64
 3   media_visualizacoes        85 non-null     int64
 4   pico_de_visualizacoes      85 non-null     int64
 5   Streams                    85 non-null     int64
 6   media_canais               85 non-null     int64
 7   jogos_transmitidos         85 non-null     int64
 8   proporcao_de_espectadores  85 non-null     float64
dtypes: float64(1), int64(8)
memory usage: 6.1 KB

In [3]:
data.isnull().sum()

ano                          0
mes                          0
horas_assistidas             0
media_visualizacoes          0
pico_de_visualizacoes        0
Streams                      0
media_canais                 0
jogos_transmitidos           0
proporcao_de_espectadores    0
dtype: int64

<b><i>Não há dados missing e o Dtype de cada dado corresponde ao esperado para análise, sem necessidade de transformações</i></b>

In [5]:
data.describe()

,ano,mes,horas_assistidas,media_visualizacoes,pico_de_visualizacoes,Streams,media_canais,jogos_transmitidos,proporcao_de_espectadores
count,85.000000,85.000000,8.500000e+01,8.500000e+01,8.500000e+01,8.500000e+01,85.000000,85.000000,85.000000
mean,2019.047059,6.435294,1.171561e+09,1.605636e+06,3.310116e+06,1.543479e+07,60414.117647,24771.341176,26.779176
std,2.046518,3.503220,6.218263e+08,8.522275e+05,1.637731e+06,6.240952e+06,33558.528869,10319.046780,1.588932
min,2016.000000,1.000000,3.628332e+08,5.046350e+05,1.186009e+06,5.507554e+06,16592.000000,12134.000000,22.650000
25%,2017.000000,3.000000,5.755515e+08,7.875870e+05,1.823848e+06,8.672879e+06,25810.000000,15962.000000,25.710000
50%,2019.000000,6.000000,9.166925e+08,1.264495e+06,2.692333e+06,1.505304e+07,48357.000000,20248.000000,26.890000
75%,2021.000000,9.000000,1.834840e+09,2.520330e+06,4.815581e+06,2.028536e+07,93867.000000,35577.000000,28.130000
max,2023.000000,12.000000,2.308295e+09,3.112681e+06,6.707070e+06,2.759115e+07,122763.000000,43611.000000,30.390000

### Começando Análises

#### Delson

#### Luiz

#### Igor

#### Bruno